@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gelasio", "Instrument Sans", sans-serif;
  }

  body {
    @apply bg-slate-100;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
    border: 1px solid #8080802f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }

  @layer utilities {
  .max-padd-container {
    @apply mx-auto max-w-[1440px] px-6 lg:px-12;
  }
}